#del-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-mid);
}
#del-title,
#del-subtitle {
  font-family: var(--font-ssp);
  color: var(--color-white);
  text-align: center;
} 
.link {
  border: 3px solid var(--color-white);
  margin: 10px;
  padding: 15px;
  transition: 0.3s ease-out;
}
.del-confirm,
.del-confirm:focus,
.del-confirm:visited {
  color: var(--color-white);
  &:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
  }
}
.del-back {
  color: var(--color-dark);
  &:hover {
    color: var(--color-white);
    border: 3px solid var(--color-mid);
  }
}
