#details-box{
    padding-top: 30vh;
    background: url('../img/bouchons.jpg') center/cover;
}

#details-title{
    text-align: center;
    font-family: var(--font-ssp);
    color: var(--color-white);
    background-color: var(--color-mid-05);
    font-size: 4em;
    margin: 10vh 0;
}

#details-description{
    background-color: var(--color-purple);
    color: var(--color-white);
    // font-weight: bold;
    font-size: 1.5em;
    font-style: italic;
    margin: 10px;
    padding: 15px 50px;
    border-radius: 10px 10px;
}
#details-infos{
    background-color: var(--color-mid);
    font-style: italic;
    font-size: 1.6em;
}
.details-info-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);

}
.details-info-span{
    font-weight: bold;

}
#d-pict-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#d-pict{
    margin: 15px;
    width: 33%;
    box-shadow: 4px 4px 8px var(--color-dark);
    border-radius: 5px;
    transition: 0.4s ease-in;
    @media screen AND (max-width: 576px ) {
        width: 66%;  
    }

}
#d-pict:hover{
    transform: scale(1.6);
}
@media screen AND (max-width: 576px ) {
    #d-pict:hover{
        transform: scale(1.2);
    }  
}