#filter-title {
  font-family: var(--font-ssp);
  color: var(--color-white);
  background-color: var(--color-mid-07);
  text-align: center;
  margin-top: 40vh;
}
#filter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    color: var(--color-white);
    font-weight: bold;
    margin: 5px;
    margin-top: 15px;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-weight: bold;
    color: var(--color-dark);
    font-family: var(--font-ssp);
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
  }
  input[type="file"] {
    color: var(--color-white);
    background-color: var(--color-mid);
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
  }
  input[type="submit"] {
    color: var(--color-white);
    background-color: var(--color-mid);
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    font-weight: bold;
    transition: 0.4s ease-in;
    &:hover {
      background-color: var(--color-mid-05);
      // color: var(--color-dark);
      cursor: pointer;
    }
  }
}
.search-infos{
    padding: 0 25px;
    gap: 10px;
    div{
        color: var(--color-white);
        font-family: var(--font-ssp);
        font-weight: bold;
        text-align: center;
        font-size: 1.2em;
        span {
        color: var(--color-purple);

        }
    }
}
#newsearchbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#newsearch-link {
  font-family: var(--font-ssp);
  color: var(--color-white) !important ;
  background-color: var(--color-purple);
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    background-color: var(--color-mid);
  }
}
.searchoff {
  text-align: center;
  font-family: var(--font-ssp);
  color: var(--color-white) !important ;
}
