#addform-box {
  font-family: var(--font-ssp);
  // padding-top: 20vh;
  #addform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label {
      color: var(--color-white);
      font-weight: bold;
      margin: 5px;
      margin-top: 15px;
    }
    .add-lab-img {
      margin-left: 15px;
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    textarea {
      font-weight: bold;
      color: var(--color-dark);
      font-family: var(--font-ssp);
      border-radius: 8px;
      padding: 5px;
      margin: 10px;
    }
    input[type="file"] {
      color: var(--color-white);
      background-color: var(--color-mid);
      border-radius: 8px;
      padding: 5px;
      margin: 10px;
    }
    input[type="submit"] {
      color: var(--color-white);
      background-color: var(--color-mid);
      border-radius: 8px;
      padding: 15px;
      margin: 15px;
      font-weight: bold;
      transition: 0.4s ease-in;
      &:hover {
        background-color: var(--color-mid-05);
        // color: var(--color-dark);
        cursor: pointer;
      }
    }
  }
}
#add-title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 20vh;
  background: center url("../img/bottles_family.jpg");
  height: 50vh;
  width: 100%;
  h1,
  h2 {
    color: var(--color-white);
    background-color: var(--color-mid-07);
    width: 100%;
    text-align: center;
  }
  div {
    width: 100%;
    background-color: var(--color-mid-07);
    text-align: center;
  }
}

#upd-last-pict {
  text-align: center;
  img {
    border-radius: 5px;
    box-shadow: 3px 3px 8px var(--color-mid-07);
    max-width: 25%;
  }
}
