body{
    background-color: var(--color-dark);
}
#error-title{
    font-family: var(--font-ssp);
    color: var(--color-white);
    font-weight: bold;
    text-align: center;
}
#index-wines-grid{
    border-color: black;

}
#index-title{
    font-family: var(--font-ssp);
    color: var(--color-white);
    text-align: center;
}
.index-bottle {
    
    background-color: var(--color-white);
    margin: 12px;
    padding: 6px;
    border-radius: 15px;
    height: fit-content;
}
.bottle-name{
    text-align: center;
    margin: 20px;
    a {
        color: var(--color-mid);
        font-family: var(--font-ssp);
        transition: 0.4s ease-in;
        &:hover{
            color: var(--color-purple);
            font-size: 1.5em;
        }
    }
        
}
.bottle-infos{
    color: var(--color-mid);
    font-family: var(--font-ssp);

    h3{
        margin-top: 0;
        text-align: center;
        font-size: 1.3em;
    }
    p{
        margin-left: 10%;
    }

}
.index-bold{
    font-weight: bold;
}
.admin-btn{
    margin: 10px 5px ;
    a{
        font-weight: bold;
        padding: 5px;
        margin: 5px;
        text-align: center;
        border-radius: 5px;
        
    }
    .admin-del{
        color: var(--color-white);
        background-color: var(--color-mid);
        &:hover{
            // color:var(--color-purple);
            background-color: var(--color-purple);
        }
        
    }
    .admin-upd{
        color: var(--color-white);
        background-color: var(--color-purple);
        &:hover{
                background-color :var(--color-mid);
                }
    }
}
.img-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.bottle-img{
    object-fit: contain;
    max-width: 100%;
    border-radius: 15px;
    max-height: 220px;


}
