
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-mw {
    width: 100%;
    margin: 0 auto;
}

.line {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1;
}

.box-12 {
    grid-column: span 12;
}

.box-11 {
    grid-column: span 11;
}

.box-10 {
    grid-column: span 10;
}

.box-9 {
    grid-column: span 9;
}

.box-8 {
    grid-column: span 8;
}

.box-7 {
    grid-column: span 7;
}

.box-6 {
    grid-column: span 6;
}

.box-5 {
    grid-column: span 5;
}

.box-4 {
    grid-column: span 4;
}

.box-3 {
    grid-column: span 3;
}

.box-2 {
    grid-column: span 2;
}

.box-1 {
    grid-column: span 1;
}


/* SM 576px */

@media screen and (min-width: 576px) {
    .box-sm-12 {
        grid-column: span 12;
    }
    .box-sm-11 {
        grid-column: span 11;
    }
    .box-sm-10 {
        grid-column: span 10;
    }
    .box-sm-9 {
        grid-column: span 9;
    }
    .box-sm-8 {
        grid-column: span 8;
    }
    .box-sm-7 {
        grid-column: span 7;
    }
    .box-sm-6 {
        grid-column: span 6;
    }
    .box-sm-5 {
        grid-column: span 5;
    }
    .box-sm-4 {
        grid-column: span 4;
    }
    .box-sm-3 {
        grid-column: span 3;
    }
    .box-sm-2 {
        grid-column: span 2;
    }
    .box-sm-1 {
        grid-column: span 1;
    }
}


/* MD 768px */

@media screen and (min-width: 768px) {
    .box-md-12 {
        grid-column: span 12;
    }
    .box-md-11 {
        grid-column: span 11;
    }
    .box-md-10 {
        grid-column: span 10;
    }
    .box-md-9 {
        grid-column: span 9;
    }
    .box-md-8 {
        grid-column: span 8;
    }
    .box-md-7 {
        grid-column: span 7;
    }
    .box-md-6 {
        grid-column: span 6;
    }
    .box-md-5 {
        grid-column: span 5;
    }
    .box-md-4 {
        grid-column: span 4;
    }
    .box-md-3 {
        grid-column: span 3;
    }
    .box-md-2 {
        grid-column: span 2;
    }
    .box-md-1 {
        grid-column: span 1;
    }
}


/* LG 992px */

@media screen and (min-width: 992px) {
    .box-lg-12 {
        grid-column: span 12;
    }
    .box-lg-11 {
        grid-column: span 11;
    }
    .box-lg-10 {
        grid-column: span 10;
    }
    .box-lg-9 {
        grid-column: span 9;
    }
    .box-lg-8 {
        grid-column: span 8;
    }
    .box-lg-7 {
        grid-column: span 7;
    }
    .box-lg-6 {
        grid-column: span 6;
    }
    .box-lg-5 {
        grid-column: span 5;
    }
    .box-lg-4 {
        grid-column: span 4;
    }
    .box-lg-3 {
        grid-column: span 3;
    }
    .box-lg-2 {
        grid-column: span 2;
    }
    .box-lg-1 {
        grid-column: span 1;
    }
}