#navbar {
  background-color: transparent;
  z-index: 10;
  position: absolute;
  top: 0;
  max-width: 100%;
}
#nav-logo {
  background-color: var(--color-mid);
  display: flex;
  justify-content: center;

  padding: 15px;
  border-radius: 0 0 45px 45px;

  img {
    border: 4px solid transparent;
    transition: 0.4s;
    border-radius: 6px;
    &:hover {
      border-color: var(--color-dark);
    }
  }
}
#nav-menu {
  width: 100%;
  margin: 20px 0;

  background-color: var(--color-mid-05);
  
}
.admin-name {
  text-align: center;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-mid-07);
  font-size: 2rem;
  font-family: var(--font-ssp);
  margin: 0;
  width: 100%;
}
.nav-link {
  background-color: var(--color-purple);
  border-radius: 33px;
  padding: 5px;
  margin: 10px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  &:hover{
    background-color: var(--color-mid);
  }
  
  a {
    color: var(--color-white);
    font-weight: bold;
    font-family: var(--font-ssp);
  }
}

.hide-menu{
  display: none;
}
.burger-container {
  display: inline-block;
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  right: 5%;
  background-color: var(--color-purple);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  @media screen and (max-width: 450px) {
    right: 0;
    top: 130px;     
    .burger-bar1,
    .burger-bar2,
    .burger-bar3 {
      background-color: var(--color-white);
    }
  }
}
.burger-bar1,
.burger-bar2,
.burger-bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color-dark);
  margin: 6px auto;
  transform: translateY(5px);
  transition: 0.4s;
}
.change .burger-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-12px, 12px);
}
.change .burger-bar2 {
  opacity: 0;
}
.change .burger-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-3px, -4px);

}
#footer-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-bye{
  color: var(--color-purple) !important ;
  text-align: center;
  font-family: var(--font-ssp);
  font-style: italic;
  font-size: 0.7em;
}
