#top-box{
    position: relative;
}
#topbox-title{
    font-family: var(--font-ssp);
    color: var(--color-white);
    background-color: var(--color-mid-05);
    font-size: 6em;
    padding: 50px;
    border-radius: 8px 6px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and ( max-width: 386px) {
        display: none;
    }
}
#topbox-img{
    object-fit: cover;
    width: 100%;
    height: 80vh;
}
.topbox-title-hide{
    display: none;
}