@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root{
    --color-dark : #3e0018 ;
    --color-mid : #88002d ;
    --color-purple : #885c7e ;
    --color-black : #000 ;
    --color-white : #fff ;
    --color-mid-05 : rgba(136, 0, 45, .5) ;
    --color-mid-07 : rgba(136, 0, 45, .7) ;

    --font-ssp : 'Source Sans Pro', sans-serif ;
}