
@import "root" ; 
@import "layout" ; 
@import "variables" ; 
@import "navbar" ;
@import "topbox" ;


@import "index" ;
@import "details" ;
@import "forms" ;
@import "deleteconfirm" ;
@import "finder" ;


body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    // position: relative;
}
