@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-mw {
  width: 100%;
  margin: 0 auto;
}

.line {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1;
}

.box-12 {
  grid-column: span 12;
}

.box-11 {
  grid-column: span 11;
}

.box-10 {
  grid-column: span 10;
}

.box-9 {
  grid-column: span 9;
}

.box-8 {
  grid-column: span 8;
}

.box-7 {
  grid-column: span 7;
}

.box-6 {
  grid-column: span 6;
}

.box-5 {
  grid-column: span 5;
}

.box-4 {
  grid-column: span 4;
}

.box-3 {
  grid-column: span 3;
}

.box-2 {
  grid-column: span 2;
}

.box-1 {
  grid-column: span 1;
}

/* SM 576px */
@media screen and (min-width: 576px) {
  .box-sm-12 {
    grid-column: span 12;
  }
  .box-sm-11 {
    grid-column: span 11;
  }
  .box-sm-10 {
    grid-column: span 10;
  }
  .box-sm-9 {
    grid-column: span 9;
  }
  .box-sm-8 {
    grid-column: span 8;
  }
  .box-sm-7 {
    grid-column: span 7;
  }
  .box-sm-6 {
    grid-column: span 6;
  }
  .box-sm-5 {
    grid-column: span 5;
  }
  .box-sm-4 {
    grid-column: span 4;
  }
  .box-sm-3 {
    grid-column: span 3;
  }
  .box-sm-2 {
    grid-column: span 2;
  }
  .box-sm-1 {
    grid-column: span 1;
  }
}

/* MD 768px */
@media screen and (min-width: 768px) {
  .box-md-12 {
    grid-column: span 12;
  }
  .box-md-11 {
    grid-column: span 11;
  }
  .box-md-10 {
    grid-column: span 10;
  }
  .box-md-9 {
    grid-column: span 9;
  }
  .box-md-8 {
    grid-column: span 8;
  }
  .box-md-7 {
    grid-column: span 7;
  }
  .box-md-6 {
    grid-column: span 6;
  }
  .box-md-5 {
    grid-column: span 5;
  }
  .box-md-4 {
    grid-column: span 4;
  }
  .box-md-3 {
    grid-column: span 3;
  }
  .box-md-2 {
    grid-column: span 2;
  }
  .box-md-1 {
    grid-column: span 1;
  }
}

/* LG 992px */
@media screen and (min-width: 992px) {
  .box-lg-12 {
    grid-column: span 12;
  }
  .box-lg-11 {
    grid-column: span 11;
  }
  .box-lg-10 {
    grid-column: span 10;
  }
  .box-lg-9 {
    grid-column: span 9;
  }
  .box-lg-8 {
    grid-column: span 8;
  }
  .box-lg-7 {
    grid-column: span 7;
  }
  .box-lg-6 {
    grid-column: span 6;
  }
  .box-lg-5 {
    grid-column: span 5;
  }
  .box-lg-4 {
    grid-column: span 4;
  }
  .box-lg-3 {
    grid-column: span 3;
  }
  .box-lg-2 {
    grid-column: span 2;
  }
  .box-lg-1 {
    grid-column: span 1;
  }
}

:root {
  --color-dark: #3e0018 ;
  --color-mid: #88002d ;
  --color-purple: #885c7e ;
  --color-black: #000 ;
  --color-white: #fff ;
  --color-mid-05: rgba(136, 0, 45, .5) ;
  --color-mid-07: rgba(136, 0, 45, .7) ;
  --font-ssp: 'Source Sans Pro', sans-serif ;
}

#navbar {
  background-color: transparent;
  z-index: 10;
  position: absolute;
  top: 0;
  max-width: 100%;
}

#nav-logo {
  background-color: var(--color-mid);
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 0 0 45px 45px;
}

#nav-logo img {
  border: 4px solid transparent;
  transition: 0.4s;
  border-radius: 6px;
}

#nav-logo img:hover {
  border-color: var(--color-dark);
}

#nav-menu {
  width: 100%;
  margin: 20px 0;
  background-color: var(--color-mid-05);
}

.admin-name {
  text-align: center;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-mid-07);
  font-size: 2rem;
  font-family: var(--font-ssp);
  margin: 0;
  width: 100%;
}

.nav-link {
  background-color: var(--color-purple);
  border-radius: 33px;
  padding: 5px;
  margin: 10px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.nav-link:hover {
  background-color: var(--color-mid);
}

.nav-link a {
  color: var(--color-white);
  font-weight: bold;
  font-family: var(--font-ssp);
}

.hide-menu {
  display: none;
}

.burger-container {
  display: inline-block;
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  right: 5%;
  background-color: var(--color-purple);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 450px) {
  .burger-container {
    right: 0;
    top: 130px;
  }
  .burger-container .burger-bar1,
  .burger-container .burger-bar2,
  .burger-container .burger-bar3 {
    background-color: var(--color-white);
  }
}

.burger-bar1,
.burger-bar2,
.burger-bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color-dark);
  margin: 6px auto;
  transform: translateY(5px);
  transition: 0.4s;
}

.change .burger-bar1 {
  transform: rotate(-45deg) translate(-12px, 12px);
}

.change .burger-bar2 {
  opacity: 0;
}

.change .burger-bar3 {
  transform: rotate(45deg) translate(-3px, -4px);
}

#footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-bye {
  color: var(--color-purple) !important;
  text-align: center;
  font-family: var(--font-ssp);
  font-style: italic;
  font-size: 0.7em;
}

#top-box {
  position: relative;
}

#topbox-title {
  font-family: var(--font-ssp);
  color: var(--color-white);
  background-color: var(--color-mid-05);
  font-size: 6em;
  padding: 50px;
  border-radius: 8px 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 386px) {
  #topbox-title {
    display: none;
  }
}

#topbox-img {
  object-fit: cover;
  width: 100%;
  height: 80vh;
}

.topbox-title-hide {
  display: none;
}

body {
  background-color: var(--color-dark);
}

#error-title {
  font-family: var(--font-ssp);
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
}

#index-wines-grid {
  border-color: black;
}

#index-title {
  font-family: var(--font-ssp);
  color: var(--color-white);
  text-align: center;
}

.index-bottle {
  background-color: var(--color-white);
  margin: 12px;
  padding: 6px;
  border-radius: 15px;
  height: fit-content;
}

.bottle-name {
  text-align: center;
  margin: 20px;
}

.bottle-name a {
  color: var(--color-mid);
  font-family: var(--font-ssp);
  transition: 0.4s ease-in;
}

.bottle-name a:hover {
  color: var(--color-purple);
  font-size: 1.5em;
}

.bottle-infos {
  color: var(--color-mid);
  font-family: var(--font-ssp);
}

.bottle-infos h3 {
  margin-top: 0;
  text-align: center;
  font-size: 1.3em;
}

.bottle-infos p {
  margin-left: 10%;
}

.index-bold {
  font-weight: bold;
}

.admin-btn {
  margin: 10px 5px;
}

.admin-btn a {
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}

.admin-btn .admin-del {
  color: var(--color-white);
  background-color: var(--color-mid);
}

.admin-btn .admin-del:hover {
  background-color: var(--color-purple);
}

.admin-btn .admin-upd {
  color: var(--color-white);
  background-color: var(--color-purple);
}

.admin-btn .admin-upd:hover {
  background-color: var(--color-mid);
}

.img-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottle-img {
  object-fit: contain;
  max-width: 100%;
  border-radius: 15px;
  max-height: 220px;
}

#details-box {
  padding-top: 30vh;
  background: url("../img/bouchons.jpg") center/cover;
}

#details-title {
  text-align: center;
  font-family: var(--font-ssp);
  color: var(--color-white);
  background-color: var(--color-mid-05);
  font-size: 4em;
  margin: 10vh 0;
}

#details-description {
  background-color: var(--color-purple);
  color: var(--color-white);
  font-size: 1.5em;
  font-style: italic;
  margin: 10px;
  padding: 15px 50px;
  border-radius: 10px 10px;
}

#details-infos {
  background-color: var(--color-mid);
  font-style: italic;
  font-size: 1.6em;
}

.details-info-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.details-info-span {
  font-weight: bold;
}

#d-pict-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#d-pict {
  margin: 15px;
  width: 33%;
  box-shadow: 4px 4px 8px var(--color-dark);
  border-radius: 5px;
  transition: 0.4s ease-in;
}

@media screen and (max-width: 576px) {
  #d-pict {
    width: 66%;
  }
}

#d-pict:hover {
  transform: scale(1.6);
}

@media screen and (max-width: 576px) {
  #d-pict:hover {
    transform: scale(1.2);
  }
}

#addform-box {
  font-family: var(--font-ssp);
}

#addform-box #addform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addform-box #addform label {
  color: var(--color-white);
  font-weight: bold;
  margin: 5px;
  margin-top: 15px;
}

#addform-box #addform .add-lab-img {
  margin-left: 15px;
}

#addform-box #addform input[type="text"],
#addform-box #addform input[type="number"],
#addform-box #addform input[type="email"],
#addform-box #addform input[type="password"],
#addform-box #addform textarea {
  font-weight: bold;
  color: var(--color-dark);
  font-family: var(--font-ssp);
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}

#addform-box #addform input[type="file"] {
  color: var(--color-white);
  background-color: var(--color-mid);
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}

#addform-box #addform input[type="submit"] {
  color: var(--color-white);
  background-color: var(--color-mid);
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
  font-weight: bold;
  transition: 0.4s ease-in;
}

#addform-box #addform input[type="submit"]:hover {
  background-color: var(--color-mid-05);
  cursor: pointer;
}

#add-title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 20vh;
  background: center url("../img/bottles_family.jpg");
  height: 50vh;
  width: 100%;
}

#add-title-box h1,
#add-title-box h2 {
  color: var(--color-white);
  background-color: var(--color-mid-07);
  width: 100%;
  text-align: center;
}

#add-title-box div {
  width: 100%;
  background-color: var(--color-mid-07);
  text-align: center;
}

#upd-last-pict {
  text-align: center;
}

#upd-last-pict img {
  border-radius: 5px;
  box-shadow: 3px 3px 8px var(--color-mid-07);
  max-width: 25%;
}

#del-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-mid);
}

#del-title,
#del-subtitle {
  font-family: var(--font-ssp);
  color: var(--color-white);
  text-align: center;
}

.link {
  border: 3px solid var(--color-white);
  margin: 10px;
  padding: 15px;
  transition: 0.3s ease-out;
}

.del-confirm,
.del-confirm:focus,
.del-confirm:visited {
  color: var(--color-white);
}

.del-confirm:hover,
.del-confirm:focus:hover,
.del-confirm:visited:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.del-back {
  color: var(--color-dark);
}

.del-back:hover {
  color: var(--color-white);
  border: 3px solid var(--color-mid);
}

#filter-title {
  font-family: var(--font-ssp);
  color: var(--color-white);
  background-color: var(--color-mid-07);
  text-align: center;
  margin-top: 40vh;
}

#filter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#filter-form label {
  color: var(--color-white);
  font-weight: bold;
  margin: 5px;
  margin-top: 15px;
}

#filter-form input[type="text"],
#filter-form input[type="number"],
#filter-form input[type="email"],
#filter-form input[type="password"],
#filter-form textarea {
  font-weight: bold;
  color: var(--color-dark);
  font-family: var(--font-ssp);
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}

#filter-form input[type="file"] {
  color: var(--color-white);
  background-color: var(--color-mid);
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}

#filter-form input[type="submit"] {
  color: var(--color-white);
  background-color: var(--color-mid);
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
  font-weight: bold;
  transition: 0.4s ease-in;
}

#filter-form input[type="submit"]:hover {
  background-color: var(--color-mid-05);
  cursor: pointer;
}

.search-infos {
  padding: 0 25px;
  gap: 10px;
}

.search-infos div {
  color: var(--color-white);
  font-family: var(--font-ssp);
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.search-infos div span {
  color: var(--color-purple);
}

#newsearchbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#newsearch-link {
  font-family: var(--font-ssp);
  color: var(--color-white) !important;
  background-color: var(--color-purple);
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  transition: 0.3s;
}

#newsearch-link:hover {
  background-color: var(--color-mid);
}

.searchoff {
  text-align: center;
  font-family: var(--font-ssp);
  color: var(--color-white) !important;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=style.css.map */