
    
    <div id="footer-box">
        <a class="footer-bye" href="#navbar">Haut de page</a>
        <p class="footer-bye">Site fait avec ❤ | ® 04/2021</p>
    </div>
    
    <script src="../public/js/menu.js"></script>
</body>
</html>