
<nav id="navbar" class="container-mw">
    <div id="nav-logo">
        <a href="../index.php">
        <img src="../public/img/logo-large.png" alt="logo myCave"></a>
        <div class="burger-container" onclick="moveBurger(this)">
                <div class="burger-bar1"></div>
                <div class="burger-bar2"></div>
                <div class="burger-bar3"></div>
        </div>
    </div>

    
    <div id="nav-menu"  class="container-mw hide-menu">
        <?php

        if (isset($_SESSION['user']) && !empty($_SESSION['user']) ) {          
            echo '<h4 class="admin-name" >Salut '.htmlspecialchars($_SESSION['user']['name']).' ! </h4>' ;      
        }
        ?>
        <div class="line ">
            <?php
            if (isset($_SESSION['user']) && !empty($_SESSION['user']) ) {          
                echo '
                <span class="nav-link box-12 box-sm-6 box-md-3">
                <a href="../add_wine.php">Ajouter une bouteille</a>
                </span>
                <span class="nav-link box-12 box-sm-6 box-md-3">
                    <a href="../add_user.php">Ajouter un caviste</a>
                </span>' ;      
            }
            ?>
            <span class="nav-link box-12 box-sm-6 box-md-3">
                <a href="../filter_view.php">Rechercher</a>
                </span>
            <?php
            if (!isset($_SESSION['user']) || empty($_SESSION['user']) ) {          
                echo '<span class="nav-link box-12 box-sm-6 box-md-3">
                <a href="../login.php">Se Connecter</a>
            </span>' ;      
            }
            ?>
            
            <?php
            if (isset($_SESSION['user']) && !empty($_SESSION['user']) ) {          
                echo '<span class="nav-link box-12 box-sm-6 box-md-3">
                        <a href="../src/controllers/logout.php">Se Déconnecter</a>
                      </span>' ;      
            }
            ?>
            
            
        </div>
        
    </div>

</nav>